<div fxLayout="column" fxLayoutGap="16px" fxLayoutAlign="top center">
  <div class="content" fxLayout fxLayoutAlign="start space-between" fxLayoutGap="48px">
    <mat-paginator [length]="resultsLength"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[20,50,100,200,1000]"
                   (page)="pageEvent = getServerData($event)"></mat-paginator>
    <mat-card>
      <mat-form-field appearance="standard">
        <mat-label>Filter by name</mat-label>
        <input matInput (input)="filterValue(($event))"
               placeholder="Ex. Tokio">
      </mat-form-field>
    </mat-card>
  </div>
  <div fxLayout="row wrap" fxLayoutGap.gt-sm="24px">
    <app-city-card [city]="city"
                   *ngFor="let city of cities; trackBy: trackByFn"
                   (onEditCity)="editCity($event)" ></app-city-card>
  </div>
</div>
